.curso {
    padding: 3rem 0;
    border-bottom: 1px solid var(--negro);
}

@media(min-width: 768px){
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.curso:last-of-type {
    border: none;
}

.curso__label {
    border: none;
    margin-bottom: 0;
}

.curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}

.curso__info {
    font-weight: normal;
}

.curso__label,
.curso__info {
    font-size: 2rem;
}